## The following requirements were added by pip freeze:
alabaster==0.7.6
alembic==0.8.2
appnope==0.1.0
arrow==0.6.0
Babel==2.0
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.4.0
certifi==2015.9.6.2
dataset==0.6.1
datashape==0.4.7
decorator==4.0.2
docutils==0.12
funcsigs==0.4
functools32==3.2.3-2
gnureadline==6.3.3
httplib2==0.9.1
into==0.2.2
ipdb==0.8.1
ipycache==0.1.4
ipykernel==4.0.3
ipyparallel==4.0.2
ipython==4.0.0
ipython-genutils==0.1.0
ipython-sql==0.3.6
ipywidgets==4.0.3
jdcal==1.0
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.0.0
jupyter-console==4.0.2
jupyter-core==4.0.6
keen==0.3.17
lxml==3.4.4
Mako==1.0.2
MarkupSafe==0.23
matplotlib==1.4.3
mistune==0.7.1
mixpanel==4.1.0
mock==1.3.0
multipledispatch==0.4.8
MySQL-python==1.2.5
nbconvert==4.0.0
nbformat==4.0.0
networkx==1.10
normality==0.2.4
nose==1.3.7
notebook==4.0.4
numpy==1.9.2
numpydoc==0.5
openpyxl==2.2.6
oursql==0.9.3.1
Padding==0.4
pandas==0.16.2
path.py==8.1.1
patsy==0.4.0
pbr==1.8.0
pexpect==3.3
pickleshare==0.5
prettytable==0.7.2
psycopg2==2.6.1
ptyprocess==0.5
pycrypto==2.6.1
Pygments==2.0.2
pyparsing==2.0.3
pyreadline==2.1
python-dateutil==2.4.2
python-editor==0.4
python-instagram==1.3.2
python-rex==0.4
python-slugify==1.1.4
pytz==2015.6
PyYAML==3.11
pyzmq==14.7.0
qtconsole==4.0.1
requests==2.7.0
scikit-learn==0.16.1
scipy==0.16.0
simplegeneric==0.8.1
simplejson==3.8.0
six==1.9.0
snowballstemmer==1.2.0
Sphinx==1.3.1
sphinx-rtd-theme==0.1.9
SQLAlchemy==1.0.8
sqlparse==0.1.16
terminado==0.5
testpath==0.2
toolz==0.7.4
tornado==4.2.1
traitlets==4.0.0
Unidecode==0.4.18
wheel==0.26.0
xlrd==0.9.4
xlwt==1.0.0

# You effectively have to install statsmodel at the very end, because it'll
# keep failing to install because of unmet dependencies
#statsmodels
